*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   }
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    top:10%;
}
nav {
    position: relative;
    background: #222;
    padding: 5px 20px;
}
a {
    color: white;
    text-decoration: none;
    position: pointer;
}
a:hover{
    color:#2196F3;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=email]:focus {
    background-color: blue;
    outline: none;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .area{
      border:1px solid bisque;
      padding:40px;
      width: 30%;
  }
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  #footer-cont {
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-around;
    background-color: black;
}

#footer-cont :nth-child(n) {
    color: white;
    font-size: 25px;
}